@font-face {
    font-family: "Ubuntu 700";
    font-weight: 700;
    src: url("../fonts/Ubuntu-Bold.woff2");
}
@font-face {
    font-family: "Ubuntu 400";
    font-weight: 400;
    src: url("../fonts/Ubuntu-Regular.woff2");
}